name: UKSF Bot CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Setup Node.js v20
      uses: actions/setup-node@v6
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Static Analysis (Linter)
      run: npm run lint

    - name: Security Audit
      run: npm run security-scan

    - name: Execute Unit Tests
      run: npm run test
